<ion-header page-about>
  <ion-navbar>
    <ion-title>
     活动
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
        <section>
        <ionic2-calendar [events]="data"></ionic2-calendar> 
        </section>
  </ion-toolbar>
</ion-header> 
<ion-content > 
  <ion-list>
   <!--<ion-item *ngFor="let i of items">{{i}}</ion-item>-->
 <ion-item *ngFor="let i of items">
  <ion-icon name="logo-twitter" item-left></ion-icon>
  Followers
  <ion-badge item-right>260k</ion-badge>
</ion-item>
 </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
  <!--<section>
  <button [@flip]="flipState" ion-button color="light" (click)="toggleFlip()">Flip!</button>
 
  <button [@flyInOut]="flyInOutState" ion-button color="light" (click)="toggleFlyInOut()">Fly Out!</button>
 
  <button [@fade]="fadeState" ion-button color="light" (click)="toggleFade()">Fade!</button>
 
  <button [@bounce]="bounceState" ion-button color="light" (click)="toggleBounce()">Bounce!</button>
  </section>-->
</ion-content>
