$slide-height-small: 35px;
$slide-height-large: 50px;

.slide-title {
  width: 100%;
  height: $slide-height-small;
  /*color: #666666;*/
  color: black;
  padding: 0;
  background-color: #f4f4f4;
}

.slide-title-unit {
  padding-bottom: 8px;
  font-size: 16px;
  height: $slide-height-small;
  line-height: $slide-height-small;

}

.slide-title-active {
  color: map_get($colors, primary);
  // color: red;
  border-bottom: 3px solid map_get($colors, primary);
}

.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
