page-home {
   ion-slides {
            width: 100%;
            height: 30%;
            display: block;
        }
       
      [padding], [padding] .scroll-content {
           padding: 0px; 
        }
        .card-ios-header{
               margin: 0px;
                width: 100%;
                border-radius: 2px;
                font-size: 1.4rem;
                background: #fff;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            }
     ion-col[width-33], ion-col[width-34] {
            -webkit-flex: 0 0 33.3333%;
            -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
            text-align: center;
        }
        .title1{
            margin:auto;
        }
        .list-ios {
            margin: -1px 0 20px 0;
            border-bottom: 0.55px solid #ECEBEB;
        }
      .toolbar-background-ios {
             border-top-width: 0.55px;
             border-bottom-width: 0.55px;  
             border-style: solid; 
            border-color: rgba(255, 255, 255, 0.7);
            background: rgba(255, 255, 255, 0.7);
        }
        .segment-ios-secondary .segment-button {
            border-color: rgba(255, 255, 255, 0.7);
            color: #222;
        }
        .segment-ios-secondary .segment-button.segment-activated {
            color: #6F3737;
            background-color: rgba(255, 255, 255, 0.7);
            border-bottom: 2px solid;
        }
        .segment-ios .segment-button:first-of-type {
            margin-right: 0;
            border-radius: 0px 0 0 0px;
        }
        .segment-ios .segment-button:last-of-type {
            margin-left: 0;
            border-left-width: 0;
            border-radius: 0 0px 0px 0;
      }
     ion-toolbar {
            position: relative;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.12);
        }
        .segment-ios .segment-button {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 0;
            height: 3.5rem;
            border-width: 0px;
            border-style: solid;  
            font-size: 1.3rem;
            line-height: 3.5rem;   
            background-color: transparent;
        }
   .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }

        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }

        }
}
