page-account {
  .home {
        height: 100%;
        ion-tabs > ion-navbar-section, ion-tabs > ion-content-section {
            display:none;
        }
        ion-slides {
            height: calc(100% - 48px);
            margin-top: 48px;
        }

        .cannot-go-left {
            transform: translate3d(0px, 0px, 0px) !important;
        }
        .cannot-go-right {
            transform: translate3d(-200vw, 0px, 0px) !important;
        }
        .swiper-slide {
            .slide-zoom {
            text-align:left;
            }
            align-items: baseline;
        }
        }
    .background-image {
        background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        background-size: cover;
        background-position: center;
        height: 50vw;
    }

    .content {
        background-color: white;
        position: absolute;
    }
}